.categorylist{

    .head{
        position: sticky;
        top:0;
        background-color: #00A7FF;
        color:#fff;
        font-weight: bold;
        text-align: center;
        .back{
            position: absolute;
            top: .22rem;
            left: .08rem;
            height: .58rem;
            width: .58rem;
            line-height: .58rem;
        }
        .title{
            height: 1.02rem;
            line-height: 1.02rem;
            font-size: .4rem;
        }
    }
}