<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Octpus</title>
        <meta name="keywords" content="44-章鱼">
        <meta name="description" content="大章鱼网页">
        <meta name="author" content="大章鱼">
        <style>
            body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
            ol,ul,li{margin:0;padding:0;list-style:none;}
            img{border:none;}
        
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="wrap">
            <ul>
                <li v-for="(i,index) in news">{{i}}--{{index}}</li>

                <li v-for="(i,index) in fn()">{{i}}--{{index}}</li>
            </ul>
        </div>
        
        <script>
            /*
            * v-for in     (值，下标 )
            * */
            new Vue({
                el:"#wrap",
                data:{
                    news:[1,2,3,4,5,6]
                },
                methods:{
                    fn(){
                        let arr = [];
                        for(let i=0;i<10;i++){
                            arr.push(i);
                        }
                        return arr;
                    }
                }
            })
        </script>
    </body>
</html>