<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Octpus</title>
        <meta name="keywords" content="44-章鱼">
        <meta name="description" content="大章鱼网页">
        <meta name="author" content="大章鱼">
        <style>
            body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
            ol,ul,li{margin:0;padding:0;list-style:none;}
            img{border:none;}
        
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="wrap">
            <a v-bind:href="href">v-bind:超链接</a>
            <a :href="href">v-bind:简写超链接</a>
            <!--<img v-bind:src="" alt="">-->
            <input type="text" v-model="href">
            <!--<button disabled="disabled">aaa</button>-->
            <input :type="type">
            <input type="text" v-model="type">
        </div>
        
        <script>
            /*
            *v-bind:绑定属性
            * 简写 :
            *
            * v-model 表单元素绑定
            * */
            let wrap = new Vue({
                el:"#wrap",
                data:{
                    name:"abc",
                    href:"http://www.baidu.com",
                    type:'radio'
                }
            });
        </script>
    </body>
</html>