/*推荐商家*/
.recommend{
    margin-top: .16rem;
    .recommend-icon{
        width:3.12rem;
        height:.72rem;
        margin: auto;
        img{
            width:100%;
            height:100%;
        }
    }
}