
/*底部导航栏*/
.navBottom{
    position:fixed;
    bottom:0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    padding: .2rem 0;
    z-index:999;
    a{
        width:25%;
        text-align: center;
        color:#8e8e93;
        i{
            display: block;
            font-size: .4rem;
        }
        span{
            font-size: .2rem;
        }
    }
    a.active {
        color: #0089dc;
    }
}