
/*抢购*/
.scarebuy{
    padding: .1rem .2rem;
    height: 2.99rem;
    display: flex;
    justify-content: space-between;
    a{
        img{
            width:3.52rem;
            height: 2.79rem;
        }
    }
}