@charset "UTF-8";


	body{font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", ו, sans-serif;}
    body,p,h1,h2,h3,h4,h5,h6,dt,dd,ul,ol,dl{margin:0; }
    ul,ol,dl{padding:0; }
    li{list-style:none;}
    a{text-decoration:none; color:#000;}
    img{border:none;}
    html{}
    .fL{
        float:left;
    }
    .fR{
        float:right;
    }
    .fixfloat:after{
        content:"";
        display:block;
        clear:both;
    }
    #header{
        min-width:1366px;
        border-bottom:1px solid #ddd;
        background-color:#f2f2f2;
    }
    #top-nav{
        width:1366px;
        margin:auto;
    }
	#top-nav .icon{
		color:#c40000;
	}
    #top-nav .nav-topleft{
        margin-left:80px;
    }
    #top-nav a{
        display:inline-block;
        height:30px;
        margin-right:20px;
        color:#999;
        font-size:12px;
        line-height:30px;
    }
    #header .a-hover:hover{
        color:#c40000;
    }
    #top-nav .nav-topright{
        margin-right:70px;
    } 
	#top-nav .nav-topright .a-rotate{
		position:relative;
	}
	#top-nav .nav-topright .a-select{
		position:absolute;
		width:100px;
		height:0;
		cursor:default;
	}
	#top-nav .nav-topright .a-select .sel-my{
		display:inline;
	}
	#top-nav .nav-topright .a-rotate:hover{
		text-decoration:underline;
	}
	#top-nav .nav-topright .a-rotate:hover .a-select{
		height:100px;
		border:1px solid #bbb;
		transition:0.3s;
	}
	#top-nav .nav-topright .a-rotate:hover .svg-ro{
		transition:0.3s;
		transform:rotate(180deg);
	}