/*
html{
    font-size:13.33333vw;
!*
    100vw
    设备屏幕也分成7.5等分 每一等分 100/7.5 = 13.33333
   设计图  750px
    把设计图分成7.5等分，每一份100px
    100px作为换算单位
*!
}
.App{
    !*
        1rem = 13.33333vw  =  100px
    *!
    width:1rem;
    height: 1rem;
    color:red;
    background-color: blue;
    font-size: .1rem;
}*/
.App{
    padding-bottom: 1rem;
    overflow: visible;
}
